*.egg-info
*.pyc
*.ipynb

*.csv
*.err
*.log
*.out
*.txt
*.png
*.ini
*.gz

*.mol
*.pdbqt
*.sdf
*.smi
*.in
*.pdb
*.bmp
*.nrg
*.sph
*.dms
*.mol2

*.batch
*.sh
scripts/

.vscode/
.DS_Store
Makefile
*.conf
